h1{
    background-color:aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#parrafo2{
    font-family: Arial, Helvetica, sans-serif;
}

#parrafo1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulos{
    background-color: blue;
}